:root {
  --primary-bg-color: #14191f;
  --secondary-bg-color: #22282f;
  --primary-font-color: #ffffff;
  --secondary-font-color: #075fe4;
  --font-family: Spacegrotesk, sans-serif;
}

.body {
  background-color: var(--secondary-bg-color);
}
section {
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
}
h1 {
  font-size: 100px;
}
