:root {
  --primary-bg-color: #14191f;
  --secondary-bg-color: #22282f;
  --primary-font-color: #ffffff;
  --secondary-font-color: #075fe4;
  --font-family: sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}
.work {
  background-color: var(--secondary-bg-color);
}
h3 {
  text-transform: uppercase;
  padding: 50px;
  font-weight: 700;
  font-size: 20px;
}
.h5 {
  font-weight: 700;
  font-size: 32px;
}

.body {
  background-color: var(--secondary-bg-color);
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.topic {
  padding: 60px;
}
.skills {
  background-color: #ffffff;
}
section {
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  padding: 150px 20px 50px 20px;
}
.title {
  font-size: 58px;
  font-weight: 700;
}
.subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.button {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  color: #ffffff;
  text-decoration: underline;
}
.p {
  font-size: 18px;
  color: #c3cad5;
  font-weight: 400;
}

.symbol {
  color: var(--secondary-font-color);
  font-weight: bold;
}
@media (max-width: 800px) {
  .body {
    text-align: center;
  }
  .title {
    font-size: 50px;
    padding: 10px;
  }
  .h3 {
    padding: 20px;
  }
  .subtitle {
    margin: none;
  }
  .icons {
    width: 60px;
  }
}
