:root {
  --primary-bg-color: #14191f;
  --secondary-bg-color: #22282f;
  --primary-font-color: #ffffff;
  --secondary-font-color: #075fe4;
  --font-family: sans-serif;
}
nav {
  color: var(--primary-font-color);
  padding: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 46px;
}
nav a {
  margin-left: 25px;
  text-decoration: none;
  color: var(--primary-font-color);
  font-size: 20px;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-font-color);
}
.main {
  margin-top: 30px;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
}
.work {
  background-color: var(--secondary-bg-color);
}
h3 {
  text-transform: uppercase;
  padding: 50px;
  font-weight: 700;
  font-size: 5;
}
.myWork {
  padding-top: 0;
}
.h5 {
  font-weight: 700;
  font-size: 32px;
}

.body {
  background-color: var(--secondary-bg-color);
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.topic {
  padding: 60px;
}

.skills {
  background-color: #ffffff;
  color: black;
  padding-top: 20px;
}
section {
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  padding: 60px 20px 50px 20px;
}
.title {
  font-size: 58px;
  font-weight: 700;
}
.subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.button {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  color: #ffffff;
  text-decoration: underline;
}
.p {
  font-size: 18px;
  color: #c3cad5;
  font-weight: 400;
}
.appParagragh {
  font-size: 20px;
}
.type {
  margin: 0px 10px;
  background: #7a8592;
  padding: 4px 8px;
  border-radius: 20%;
  font-weight: bold;
}

.symbol {
  color: var(--secondary-font-color);
  font-weight: bold;
}
.profil {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.getInTouch {
  color: black;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  padding: 8px 10px;
  border-radius: 10px;
}
.getInTouch:hover {
  color: var(--secondary-font-color);
}
.social {
  margin-top: 40px;
}
.social a {
  color: var(--primary-font-color);
  margin: 0 20px;
  background: var(--secondary-bg-color);
  padding: 10px 22px;
  border-radius: 50%;
  font-size: 38px;
  transition: all 200ms ease-in-out;
}
.link {
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
}
.link:hover {
  border: 1px solid var(--secondary-font-color);
}
.wasCoded {
  color: #ffffff;
  margin: 20px;
  font-size: 20px;
}
.logo {
  width: 50px;
}
@media (max-width: 800px) {
  .body {
    text-align: center;
  }
  section {
    padding: 20px;
  }
  .logo {
    width: 30px;
  }
  .h1 {
    font-size: 18px;
  }
  .title {
    font-size: 40px;
    padding: 10px;
  }
  .h3 {
    padding: 20px;
  }
  .subtitle {
    margin: none;
  }
  .icons {
    width: 60px;
  }
  .work {
    padding: 0;
    margin: 0;
  }
  nav a {
    margin-left: 6px;
    font-size: 18px;
    padding: 0;
  }

  .topic {
    padding: 0;
    margin: 0;
  }
  .social {
    margin-top: 10px;
  }
  .social a {
    margin: 0 10px;
    background: var(--secondary-bg-color);
    padding: 8px 15px;
    border-radius: 50%;
    font-size: 28px;
  }
  .type {
    font-size: 12px;
  }
  .wasCoded {
    font-size: 15px;
  }
  .link {
    font-size: 15px;
  }
  .getInTouch {
    font-size: 20px;
  }
}
